body {
    background: $black;
    color: $white;
    font-family: $body-font-family;

    h1 {}

    a {
        color: $white;

        &:hover,
        &:focus {
            color: $white;
        }
    }

    main {
        .intro {
            min-height: 100vh;
            //pointer-events: none;

            a {
                // pointer-events: all;
            }

            p {
                font-size: 4.65vw;
                //margin-top: 4vh;
                line-height: 6.3vw;
            }
        }
    }
}