* {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  transition: transform 250ms ease-in-out;
  transform: translate(-50%, -50%) scale(.3);
  z-index: 1000000;
}

.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}