@font-face {
    font-family: 'SuisseIntl-Regular';
    src: url('../font/Woff2/SuisseIntl-Regular-WebTrial.woff2') format('woff2'),
        url('../font/Woff/SuisseIntl-Regular-WebTrial.woff') format('woff');
}

@font-face {
    font-family: 'SuisseIntl-Medium';
    src: url('../font/Woff2/SuisseIntl-Medium-WebTrial.woff2') format('woff2'),
        url('../font/Woff/SuisseIntl-Regular-WebTrial.woff') format('woff');
}

@font-face {
    font-family: 'SuisseIntl-MediumItalic';
    src: url('../font/Woff2/SuisseIntl-MediumItalic-WebTrial.woff2') format('woff2'),
        url('../font/Woff/SuisseIntl-MediumItalic-WebTrial.woff') format('woff');
}