footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .quote {
        display: inline-block;
        margin-bottom: 15px;
        line-height: 1;

        &::before {
            content: 'silence-is-golden';
            font-weight: bold;
            font-size: 10px;
            padding: 15px;
        }

        &:hover {
            &::before {
                content: '« we are the product of our experiences »'
            }
        }
    }

    .footer-text {
        font-size: 22px;
        display: inline-block;
        line-height: 1;
    }

    .interaction-info {
        font-family: 'SuisseIntl-MediumItalic', Helvetica, sans-serif;
        opacity: 0;
        transition: all 200ms ease;
        position: absolute;
        right: 8.333%;
        transform: translateX(100%);
        bottom: -10px;
        font-weight: normal;
        font-style: italic;
        font-size: 10px;
        line-height: 12px;
        padding-bottom: 15px;
    }

    a.arrow {
        position: absolute;
        padding: 15px;
        bottom: 0;
        right: 0;
        transition: 200ms ease;

        &:hover+.interaction-info {
            opacity: 1;
            bottom: 0;
        }

        &.arrow-up {
            transform: rotate(180deg);
        }
    }
}