header {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    .header-text {
        font-size: 16px;
        display: inline-block;

        &.nav-active,
        &.nav-inactive {
            font-family: "SuisseIntl-Medium", Helvetica, sans-serif;
        }

        &.nav-active {
            font-size: 22px;
        }

        &.nav-inactive {
            position: absolute;
            right: 0;
            top: 0;

            span {
                display: none;
            }

            a:hover span {
                display: inline;
            }
        }

        a {
            padding: 15px;
            display: block;
        }
    }
}

.sticky-nav {
    z-index: 3;
    font-family: "SuisseIntl-Medium", Helvetica, sans-serif;
    line-height: 1;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 200ms ease;

    &.active {
        bottom: calc(100% - 15px - 22px);
    }
}