.visual-grid {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    font-size: 0;

    div[class^="line-"] {
        // border-right: 1px solid rgba(150, 150, 150, 0.2);
        border-left: 1px solid rgba(150, 150, 150, 0.2);
        width: 8.333%;
        display: inline-block;
        height: 100%;
        transition: border-color 0.5s ease;
        padding-right: 12px;

        &:last-child {
            // border-right: 0;
            // padding-right: 0;
            border-right: 1px solid rgba(150, 150, 150, 0.2);

        }
    }

    // div[class^="line-"]:nth-child(odd) {
    //     border-right: 0;
    // }
}